@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~font-awesome/css/font-awesome.min.css";
@import "~jquery-colorbox/example1/colorbox.css";
@import "~select2/dist/css/select2.min.css";
@import "~jstree/dist/themes/default/style.css";
@import "global";

body {
  //padding-top: 70px;
  padding-bottom: 15px;
}

img {
  vertical-align: baseline;
}

iframe.elfinder {
  width: 100%;
  height: calc(100vh - 125px);
  border: 0;
}

#menu-items-tree {
  margin: 10px 0;
}

table.dataTable {
  border-collapse: collapse !important;
}

.sortable-ghost {
  opacity: .6;
}

fieldset {

}

fieldset {
  border: 1px solid $border-color;
  padding: $spacer;
  margin-bottom: $spacer;

  legend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
  }
}
